---
import { Icon } from 'astro-icon/components';
import NumberInput from "~/components/ui/NumberInput.astro";
---

<div class="max-w-fit rounded-lg shadow-lg my-4 px-6 py-4 dark:bg-slate-800 w-64">
  <div class="flex flex-row">
    <p class="text-2xl w-full font-bold mb-3 dark:text-slate-300">Massflow</p>
    <div class="group flex relative">
      <span class="text-black dark:text-white px-2 py-1">
        <Icon class="justify-self-end" name="tabler:help" size="32" /></span
      >
      <div
        class="group-hover:opacity-100 transition-opacity bg-sky-50 dark:bg-gray-600 px-1 text-lg text-wrap text-gray-100 rounded-md absolute translate-x-1/2
      opacity-0 -translate-y-full top-0 right-0 w-40"
      >
        <img  src="/icons/formula/waermestrom.png" />

      </div>
    </div>
  </div>
  <NumberInput label="power [kW]" name="dfa" id="q" value="10" />
  <NumberInput label="massflow [kg/h]" name="dfa" id="m" value="1228" />
  <NumberInput label="&#916 t [k]" name="dfa" id="dt" value="7" />
  <NumberInput
    label="spez. c [kJ/kg*k]"
    name="dfa"
    id="c"
    value="4.187"
    step="0.1"
  />
</div>

<script>
  function kvs(e) {
    if (e.target.id == "m") {
      q.value = parseFloat(
        (e.target.value * c.value * dt.value) / 3600
      ).toFixed(2);
    }
    if (e.target.id == "q") {
      m.value = parseInt(
        (e.target.value * 3600) / (c.value * dt.value)
      );
    }
    if (e.target.id == "dt") {
      m.value = parseInt(
        (q.value * 3600) / (c.value * e.target.value)
      );
    }
    if (e.target.id == "c") {
      m.value = parseInt(
        (q.value * 3600) / (dt.value * e.target.value)
      );
    }
  }

  let m = document.getElementById("m");
  let q = document.getElementById("q");
  let c = document.getElementById("c");
  let dt = document.getElementById("dt");
  document.getElementById("m").addEventListener("change", kvs);
  document.getElementById("q").addEventListener("change", kvs);
  document.getElementById("dt").addEventListener("change", kvs);
  document.getElementById("c").addEventListener("change", kvs);
</script>
